html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: gray;
}

#game-board {
    width: 100%;
    height: 100%;
    background: white;
}

.hidden {
    display: none;
}
