<!DOCTYPE html>
<html>
<head>
<title>Apollo</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!-- <script type="text/javascript" src="http://{{.Host}}{{.RootPath}}/assets/js/jquery-1.7.2.min.js"></script> -->
<script type="text/javascript" src="http://{{.Host}}{{.RootPath}}/assets/js/kinetic-v3.9.3.min.js"></script>
<script type="text/javascript" src="http://{{.Host}}{{.RootPath}}/assets/js/apollo.js"></script>

<link rel="stylesheet" type="text/css" href="http://{{.Host}}{{.RootPath}}/assets/css/apollo.css" />

<script type="text/javascript">
    $(document).ready(function() {
        window.apolloApp = ApolloApp.runApp({
            wsURL: "ws://" + {{.WsHost}} + {{.RootPath}} + "/ws",
            container: 'game-board',
            noCanvas: function() {
                $('.no-canvas').removeClass('hidden');
            },
            noWebSockets: function() {
                $('.no-websockets').removeClass('hidden');
            }
        });
    });
</script>

</head>
<body>
<div id="game-board"></div>
<p class="no-canvas hidden">Sorry Canvas is not available on your browser...</p>
<p class="no-websockets hidden">Sorry Your browser doesn't support websockets</p>
</body>
</html>
